*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: rgba(74, 11, 138, 0.897);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.logo-cabeçalho{
    width: 20%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
